* {
  box-sizing: border-box;
}

body {
  background: #1D1D1D;
  font-family: Avenir Next;
  font-size: 14px;
}

.header {
  height: 10vh;
  background-color: #FFD500;
  background-size: cover;
}

.inscription {
  color: #fff;
  text-decoration: none;
  margin-right: 5%;
  transition: .5s ease;
}

.inscription:hover {
  color: #FFA400;
  transition: .3s ease
}

.mainContent {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}

.headerImg {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 5px;
  height: 75px;
}

.buttonMenu {
  height: 10vh;
  width: 8vw;
  margin-top: 2.5%;
}

.listContainer {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.listItem {
  display: inline-block;
  margin-left: 30px;
  font-size: 30px;
}

.formContainer {
  float: right;
  padding: 20px;
}

.header {
  background-color: #FFD500;
}

.fieldInput {
  display: block;
  width: 400px;
  height: 35px;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0);
  border-radius: 35px;
  overflow: hidden;
  background: white;
}

.form-input {
  width: 345px;
  background: none;
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  color: #6A7C92;
}

&:focus {
  outline: none;
}

.form-submit {
  font-size: 12px;
  color: #6A7C92;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 35px;
  border-radius: 17px;
  border: none;
  background: none;
  box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

.contain {
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
}

.imageContainer {
  width: 320px;
}

.mainContain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
}

.titre {
  font-size: 50px;
  width: 80%;
}

.suggestions {
  padding-top: 5%;
}

.textes {
  width: 50%;
  color: #fFFF;
}

.textLorem {
  width: 80%;
  font-size: 20px;
  margin-top: 30px;
}

.button {
  background-color: #FFD500;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 35px;
  color: #fff;
  cursor: pointer;
}

.button2 {
  width: 100%;
  height: 50%;
  background: grey;
  display: none;
}

.videoContain {
  margin-left: 10px;
  margin-right: 10px;
}

.cardImg {
  width: 280px;
     cursor: pointer;
}

.buttonContain {
  height: 100px;
  margin-top: 40px;
}

.button2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
}

h2 {
  font-size: 50px;
  padding: 20px;
  color: #fff;
  margin-left: 25px;
  margin-top: -30px;
}

/* PARTIE PLAYER */

.containerVideo {
  position: absolute;
  /*width:100vw;
  height:100vh;*/
  width: 37.8%;
  height: 44vh;
  margin-left: 3.2%;
  margin-top: 6.9%;
  background-color: black;
  overflow: hidden;
  top: 0;
  left: 0;
}

.barreNavigation {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 8%;
  background: gray;
  background: rgba(255, 255, 255, 0.5);
}

.display {
  display: none;
}

.bloc {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.play {
  position: absolute;
  width: 13px;
  height: 13px;
  bottom: 20%;
  left: 2%;
  z-index: 2;
}

.pause {
  position: absolute;
  width: 25px;
  height: 13px;
  bottom: 20%;
  left: 1%;
  display: none;
  z-index: 2;
}

.stop {
  position: absolute;
  width: 20px;
  height: 12px;
  bottom: 20%;
  left: 4.8%;
  z-index: 2;
}

.ecran {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -35%;
  right: 2%;
  z-index: 2;
}

.ecran2 {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: -25%;
  right: 2%;
  z-index: 2;
  display: none;
}

.play:hover {
  cursor: pointer;
}

.pause:hover {
  cursor: pointer;
}

.stop:hover {
  cursor: pointer;
}

.skip:hover {
  cursor: pointer;
}

.ecran:hover {
  cursor: pointer;
}

.ecran2:hover {
  cursor: pointer;
}

.volume {
  position: absolute;
  width: 25px;
  height: 15px;
  bottom: 15%;
  left: 8.5%;
  z-index: 2;
}

#slidecontainer {
  position: absolute;
  width: 50px;
  bottom: 28%;
  left: 12%;
  z-index: 2;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  z-index: 2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  border-radius: 999px;
  height: 7px;
  background: #FFD500;
  cursor: pointer;
  z-index: 2;
}

.progressBar {
  position: absolute;
  left: 24%;
  width: 350px;
  height: 6px;
  bottom: 43%;
  background-color: white;
  z-index: 2;
}

.currentBar {
  width: 0%;
  height: 100%;
  background-color: #FFD500;
  z-index: 2;
}

.skipPlus {
  position: absolute;
  width: 100px;
  height: 57vh;
  right: 0;
  z-index: 1;
}

.skipMoins {
  position: absolute;
  width: 100px;
  height: 57vh;
  left: 0;
  z-index: 1;
}

#slidecontainer2 {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 6px;
}

.slider2 {
  position: absolute;
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  outline: none;
  opacity: 0;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;
  z-index: 2;
  bottom: -1.5px;
  left: -0.5%;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 6px;
  background: #FFD500;
  cursor: pointer;
  z-index: 2;
}

.timer {
  font-size: 70%;
  padding-top: 2px;
}

.timerTxt {
  color: white;
}

.descriptionRating {
    color: #FFD500;
}

.authorUrl {
      color: #FFA400;
    cursor: pointer;
}